body{
    display: flex;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    background-image: url(../midia/banner4.jpg);
    background-size: 1920px 1080px;
}
.header-1{
    color: white;
    font-family: Garamond, serif;
    text-shadow: 2px 2px black;
    font-size: 90px;
    transition: 0.6s;
    padding-top: 200px;
    padding-left: 60px;
}
.descricao{
    color: white;
    max-width: 700px;
    font-family: Garamond, serif;
    text-shadow: 1px 1px black;
    font-size: 30px;
    transition: 0.6s;
    padding-top: 10px;
    padding-left: 60px;
}
.descricao a{
    text-decoration: none;
    color: #ada35f;
}
